---
layout: default.hbs
---


<table class="main">

    <tr>
        <td class="wrapper">
            <div class="header">
                <a href="{{default.backendLink}}" class="logo-wrapper"><img
                        src="https://contribute.to/assets/images/logo-contribute-to.png" alt="Contribute.to"
                        alt="Contribute.to" class="main-logo"></a>

                <a href="https://contribute.to/ARTvent" class="banner_image">
                    <img src="https://contribute.to/assets/images/holly_leaves.png" alt="Holly leaves">
                </a>
                <p class="align-center card_reveal_title">Today's Card: <br>
                    <a href='https://contribute.to/{{default.artistSlug}}'
                        style="color:#6C1D85; text-decoration:underline;">{{default.artistOfTheDayName}}</a>
                </p>
                <a href="https://contribute.to/{{default.artistSlug}}" class="card_image">
                    <img src="https://contribute.to/assets/images/artist_cards/{{default.artistSlug}}.png"
                        alt="Artist card">
                </a>

            </div>
            <table>

                <tr>
                    <td>
                        <p>A super exciting journey starts today - and we are happy and proud that you are joining us!
                            This is the first time ever that Contribute.to sees the light of day and we are thrilled to
                            share it with you. Let’s reward creativity together - by turning our appreciation into
                            support!
                        </p>
                        <p>Today we are featuring the work of Silvia Lelli and Roberto Masotti, photographers of theater
                            and the arts. Collaborating since 1979, they have been exploring the performing arts and
                            music.</p>


                        <p>We are entrepreneurs who believe that creativity should be rewarded and that supporting the
                            act of creating is just as important as supporting the creator themselves. We came up with a
                            simple, descriptive link, which pulls up an Artist Card, showcasing on it everything that
                            matters to the artist: their latest works, videos, favorite playlists, or a personal note to
                            the audience, together with a button that makes it easy to contribute.</p>
                        <p>And then we added
                            some magic: supercharging user contributions by matching them.</p>
                        <p>Nicola Erni, collector and entrepreneur, is matching contributions made during this ARTvent
                            campaign
                            by 1.5x. This turns a $100 contribution into $250.</p>
                        <p><strong>Check out the <a href="https://contribute.to/{{default.artistSlug}}"
                                    style="color:#6C1D85; text-decoration:underline;">card</a> -
                                and then please share it with your network and on your social media channels</strong>,
                            so that we can get the word out as far and as quickly as possible. Just those few
                            moments
                            of your time each day will make a big difference...
                        </p>
                        <p>We are just launching the beta phase for Contribute.to and not everything may be perfect from
                            day one. Please do let us know if you see anything you think isn’t quite right.
                        </p>
                        <p>Your contribute.to team</p>

                    </td>
                </tr>
            </table>
            <div class="footer">
                <table class="footer-wrapper">
                    <tr>
                        <td class="align-center">
                            <a href="{{default.backendLink}}"><img
                                    src="https://contribute.to/assets/images/ic-contribute-to.png" alt="Contribute.to"
                                    alt="Contribute.to" class="secondary-logo"></a>
                            <p><a href="https://contribute.to/assets/documents/20200910_terms_of_service.pdf"
                                    class="terms_text" style="padding-right: 15px;">Terms of service</a>
                                <a href="https://contribute.to/assets/documents/20200910_privacy_policy.pdf"
                                    class="terms_text" style="padding-right: 15px;">Privacy Policy</a>
                                <a href=" *|UNSUB|*" class="terms_text">Unsubscribe</a></p>
                            <p style="color:#C6C6C6; font-size:13px">
                                LaterPay, Inc. <span style="color:#746D77; font-size:13px">205
                                    E 42nd St, New York, NY 10017, USA </span> <br> &#169;2020 LaterPay</p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>