---
layout: default.hbs
---


<table class="main">

    <tr>
        <td class="wrapper">
            <div class="header">
                <a href="{{default.backendLink}}" class="logo-wrapper"><img
                        src="https://contribute.to/assets/images/logo-contribute-to.png" alt="Contribute.to"
                        alt="Contribute.to" class="main-logo"></a>

                <a href="#" class="banner_image">
                    <img src="https://contribute.to/assets/images/holly_leaves.png" alt="Holly leaves">
                </a>


            </div>
            <table>

                <tr>
                    <td>
                        <p>Dear {{default.artistOfTheDayName}},</p>
                        <p>We are thrilled to launch your card as part of the <a href="https://contribute.to/artvent"
                                style="color:#6C1D85; text-decoration:underline;">Contribute.to/ARTvent*</a> campaign
                            and we’d like
                            to make it as easy as possible for you to get started.</p>
                        <p>{{default.personalizedArtistMessage}}</p>
                        <p>Our goal for the program is two-fold - we of course want to help generate meaningful
                            contributions from supporters during the promotional period (especially as Nicola Erni will
                            be matching all contributions by 1.5x). And we also want audiences to show their
                            appreciation by contributing with their time as well, spending longer viewing and
                            appreciating your work than they would if they were to visit you on Instagram (where they’d
                            scroll through everything in seconds, even though your hard work needed hours, days and
                            sometimes weeks to be created).
                        </p>
                        <p>Here are some things to keep in mind before the program officially launches:</p>
                        <ul>


                            <li>
                                Your Card will go live on {{default.dateOfCard}} - it will be the only Card that goes
                                live on Contribute.to that day and it will be revealed also in the <a
                                    href="https://contribute.to/artvent"
                                    style="color:#6C1D85; text-decoration:underline;">Contribute.to/ARTvent</a>
                                calendar.

                            </li>
                            <li>Ahead of the launch, please do consider whether there is any special content that you
                                would like to share. For example previously unpublished works, a walkthrough at your
                                studio, a video about you discussing your work - anything that would give people more
                                insights into your world.</li>
                        </ul>
                        <p>Here is what you can do once the Card, which you can access it at <a
                                href="https://contribute.to/{{default.artistSlug}}"
                                style="color:#6C1D85; text-decoration:underline;">Contribute.to/{{default.artistSlug}}</a>,
                            is live. We’d love it if you would share it with your network, such as :
                        </p>
                        <ul>
                            <li>
                                By adding the link to your bio on Instagram, Twitter, Facebook and on your website;

                            </li>
                            <li>
                                Sharing your Card on Facebook, Twitter, LinkedIn or other platforms which you are using;
                            </li>
                            <li>
                                And also sharing it on Instagram. Given Instagram’s inability to link out, we’ve created
                                a special template which you’ll find in this email.
                            </li>
                        </ul>
                        <p>
                            To make this as easy as possible, we have suggested a few text fragments that you might want
                            to use to accompany your Contribute.to link:
                        </p>
                        <ul>
                            <li>
                                “Check out my artist card on Contribute.to - a curated platform where you can reward
                                creativity by turning appreciation into support. Your contribution will be matched by
                                the Nicola Erni Collection!! See it here.”
                            </li>
                            <li>
                                “I’ve just launched my artist card on Contribute.to, a new platform that makes it easy
                                for you to support artists, creators and the content you love! If you contribute before
                                December 24th, your contribution will be matched x1.5 by the Nicola Erni Collection.
                                Check it out here.”
                            </li>
                            <li>
                                “Check out my artist card on Contribute.to - a new platform that makes it easy for you
                                to support artists, creators and the content you love. An amazing feature is that your
                                contribution will be matched by the Nicola Erni Collection! Check it out here.”
                            </li>
                            <li>
                                “Check out my Card on Contribute.to - the platform that rewards individuals' creativity
                                by making it easy for fans to support the art they love!”

                            </li>
                            <li>“Contribute.to is the new way to give back and help keep creativity alive. An amazing
                                feature is that your contribution will be matched by the Nicola Erni Collection! Check
                                it out here. .”</li>
                            <li>“We form strong emotional responses to creativity and we appreciate the experience of
                                how an image can entertain us. During this season of giving and I’m partnering with
                                Contribute.to on a special initiative to support the many artists and creators who have
                                seen their livelihoods impacted by the coronavirus. Check out my card below and go here
                                to see the entire collection - new pieces will be unveiled every day!”
                            </li>
                        </ul>
                        <p>
                            Our priority on the day you go live is, of course, to drive as much attention, traffic and
                            contributions to your card. We will, however, be sharing works by a number of artists over
                            the 24-day program and we’d like to share with you a link each day to the next artist in the
                            collection. If you like their work, feel free to spread the word via your network as well.
                            We want to get the message about Contribute.to out as far and as wide as possible, and this
                            is how we can drive support for you and the community.
                        </p>
                        <p>If you need support or if you encountering bugs or errors, please drop us an email at
                            <a href="mailto:{{default.emailSupport}}"
                                style="color:#6C1D85; text-decoration:underline;">{{default.emailSupport}}</a></p>
                        <p>* Special thanks to Carrie Scott for coming up with this inspiring name. </p>
                    </td>
                </tr>
            </table>
            <div class="footer">
                <table class="footer-wrapper">
                    <tr>
                        <td class="align-center">
                            <a href="{{default.backendLink}}"><img
                                    src="https://contribute.to/assets/images/ic-contribute-to.png" alt="Contribute.to"
                                    alt="Contribute.to" class="secondary-logo"></a>
                            <p><a href="https://contribute.to/assets/documents/20200910_terms_of_service.pdf"
                                    class="terms_text" style="padding-right: 15px;">Terms of service</a>
                                <a href="https://contribute.to/assets/documents/20200910_privacy_policy.pdf"
                                    class="terms_text" style="padding-right: 15px;">Privacy Policy</a>
                                <a href="*|UNSUB|*" class="terms_text">Unsubscribe</a></p>
                            <p style="color:#C6C6C6; font-size:13px">
                                LaterPay, Inc. <span style="color:#746D77; font-size:13px">205
                                    E 42nd St, New York, NY 10017, USA </span> <br> &#169;2020 LaterPay</p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>