---
layout: default.hbs

---

<table class="main">

    <tr>
        <td class="wrapper">
            <div class="bayce_header_logo">
                <a href="{{default.bayceLink}}" class="logo-wrapper"><img
                        src="https://staging-bayce-marketing.baro-pfannenstein.de/assets/images/logo/bayce-logo-shape.png"
                        alt="bayce.cloud" class="main-logo"></a>


            </div>

            <table>

                <tr>
                    <td>

                        <p class="bayce_metadata">
                            Subject: <strong> {{default.inquiry_subject}}</strong>
                            <br>
                            Name: <strong> {{default.user_name}}</strong>
                            <br>
                            Company: <strong> {{default.user_company}}</strong>
                            <br>
                            Email: <strong> {{default.user_email}}</strong> <br>
                        </p>
                        <p class="bayce_metadata"> {{default.inquiry_message}}</p>
                    </td>
                </tr>
            </table>
            <div class="footer">
                <table class="footer-wrapper">
                    <tr>
                        <td class="align-center">

                            <p style="color:#C6C6C6; font-size:13px">
                                Baro Pfannenstein GmbH <span style="color:#746D77; font-size:13px">Infanteriestraße 11a,
                                    80797 Munich, Germany </span> </p>
                            <p><a href="https://staging-bayce-marketing.baro-pfannenstein.de/about/legal"
                                    class="terms_text" style="padding-right: 15px;">Imprint</a>
                                <a href="https://staging-bayce-marketing.baro-pfannenstein.de/about/data-privacy"
                                    class="terms_text" style="padding-right: 15px;">Data Privacy</a>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>